

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSetBilled"
                    data-dismiss="modal"
                    data-request-data="order_id:<?=$order->id ?>"
                    data-request-redirect="<?= Backend::url('quivi/order/orders') ?>"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                    class="btn btn-primary">
                    Set Billed
                </button>

                <span class="btn-text">
                    <?= e(trans('backend::lang.form.or')) ?>
                    <a 
                        href="<?= Backend::url('quivi/order/orders') ?>" 
                        
                    ><?= e(trans('backend::lang.form.cancel')) ?></a>
                </span>
            </div>
        </div>
    <?= Form::close() ?>

<?php else: ?>
    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
    <p><a href="<?= Backend::url('quivi/order/orders') ?>" class="btn btn-default"><?= e(trans('backend::lang.form.return_to_list')) ?></a></p>
<?php endif ?>